:root {
  --box-clr: #ff0000;
}

#colorSelector {
  padding: 10px;
  width: 150px;
}
#colorSelector > p:nth-child(1) {
  display: inline-block;
}

.colorBox {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background-color: var(--box-clr);
  border-radius: 50%;
}

#hex,
#rgb,
#hsl {
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}
